html, body {
  background-color: #000e08;
  color: #FFFFFF;
}

a:hover {
  color: #FFF468;
}

a,
hy-push-state a,
.sidebar a:hover {
  color: #00FF98;
}

clap-button,
.message {
  display: none;
}

a.external::after, a[href*="://"]:not(.no-mark-external):not(.no-mark)::after,
a.no-push-state:not(.no-mark-external):not(.no-mark)::after {
  content: none;
}